/* General */
.main-container {
  width: 100%;
}


/* Header */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .75em;
  font-size: .8rem;
  padding: 2em;
  color: #fff;
  background-color: #9b5de5;
}

.header-icon {
  height: 2em;
}


/* Card */
.card-image {
  display: block;
  width: 100%;
  height: 250px;
}

.card-details-container {
  padding: 1.5em 1.5em 3.5em;
}

a {
  cursor: pointer;
}

.card-travel-time {
  padding: .75em 0;
  font-size: .8rem;
}


/* MEDIA QUERIES */
@media screen and (min-width: 425px) {
  .header-container {
    margin-bottom: 4em;
    font-size: 1rem;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
  }
  
  .card-image,
  .card-details-container {
    width: 360px;
    border-radius: .5em;
  }

  .card-details-container {
    padding: 1.5em 0 3.5em;
  }
}

@media screen and (min-width: 900px) {
  .header-container {
    margin-bottom: 4.8em;
  }

  .card-container {
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    gap: 4em;
    padding-bottom: 4em;
    font-size: .95rem;
  }

  .card-details-container {
    width: 100%;
    padding: 0 2em 0 0;
  }

  .card-image {
    width: 360px;
  }
}